{% extends "admin/base.twig" %}
{% block main %}
    <link rel="stylesheet" href="/js/jstree/themes/default/style.min.css"/>
    <script src="/js/jstree/jstree.min.js"></script>
    <h1>分类管理</h1>
    <div class="ui two column divided grid">
        <div class="row">
            <div class="column">
                <div id="tree">{{ tree|raw }}</div>
            </div>
            <div class="column">
                <div class="ui form segment">
                    <div class="field">
                        <label>修改分类名称</label>

                        <div class="ui left labeled icon input"><input id="rename-title"></div>
                    </div>
                    <div class="field">
                        <a id="rename" class="ui green submit button" href="#">修改分类名称</a>
                        <a id="delete" class="ui red submit button delete" href="#">删除分类</a>
                    </div>
                    <div class="field">
                        <input type="hidden" id="selected-id">
                        <label>新增分类</label>

                        <div class="ui left labeled icon input"><input id="title"></div>
                    </div>
                    <div class="field">
                        <a id="add-child" class="ui blue submit button" href="#">创建子分类</a> -
                        <a id="add-pre" class="ui blue submit button" href="#">上方插入分类</a>
                        <a id="add-next" class="ui blue submit button" href="#">下方插入分类</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        function addNode(type) {
            if ($('#title').val() == '') {
                alert('分类名称不能为空');
                return false;
            }

            $.post('{{ path('admin_category_add') }}', { 'name': '{{ name }}', 'selected': $('#selected-id').val(), 'position': type, 'title': $('#title').val() }, function (data) {
                if (data.success) {
                    alert('操作成功');
                    location.reload();
                } else {
                    alert('出现错误');
                }

                return false;
            });
        }
        function rename() {
            if ($('#rename-title').val() == '') {
                alert('分类名称不能为空');
                return false;
            }
            if (!$('#selected-id').val()) {
                alert('请选择分类');
                return false;
            }

            $.post('{{ path('admin_category_rename') }}', { 'name': '{{ name }}', 'selected': $('#selected-id').val(), 'title': $('#rename-title').val() }, function (data) {
                if (data.success) {
                    alert('操作成功');
                    location.reload();
                } else {
                    alert('出现错误');
                }

                return false;
            });
        }
        function del() {
            if (!$('#selected-id').val()) {
                alert('请选择分类');
                return false;
            }

            $.post('{{ path('admin_category_delete') }}', { 'selected': $('#selected-id').val() }, function (data) {
                if (data.success) {
                    alert('操作成功');
                    location.reload();
                } else {
                    alert('出现错误');
                }

                return false;
            });
        }
        function move(id, parent, position) {
            $.post('{{ path('admin_category_move') }}', { 'name': '{{ name }}', 'selected': id, 'parent': parent, 'position': position}, function (data) {
                if (data.success) {
                    alert('操作成功');
                    //location.reload();
                } else {
                    alert('出现错误');
                }

                return false;
            });
        }
        $(function () {
            $('#tree').jstree({
                "core": {
                    "multiple": false,
                    "check_callback": true,
                    "animation": 0
                },
                "plugins": [
                    "dnd"
                ]
            });
            $('#tree').on('move_node.jstree', function (e, data) {
//                console.log(data);
            });
            $('#add-child').on('click', function () {
                addNode('child');
            });

            $('#add-pre').on('click', function () {
                if (!$('#selected-id').val()) {
                    alert('请先选择一个分类');
                    return false;
                }
                addNode('pre');
            });

            $('#add-next').on('click', function () {
                if (!$('#selected-id').val()) {
                    alert('请先选择一个分类');
                    return false;
                }
                addNode('next');
            });

            $('#rename').on('click', function () {
                rename();
            });
            $('#delete').on('click', function () {
                del();
            });

            $('#tree').on('changed.jstree', function (e, data) {
                $('#selected-id').val(data.instance.get_node(data.selected[0]).id);
                $('#rename-title').val(data.instance.get_node(data.selected[0]).text);
            });

            $('#tree').on('move_node.jstree', function (e, data) {
                move(data.node.id, data.parent, data.position);
            });
        });
    </script>
{% endblock %}